:root {
    --tablet-h1-font-size: 250%;
    --tablet-h2-font-size: 125%;
    --tablet-h3-font-size: 100%;
    --tablet-h4-font-size: 100%;
    --tablet-p-font-size: 100%;
    --tablet-content-p: 130%;
    --tablet-content-header-h1-padding: 40px 75px 0px 75px;
    --tablet-content-header-h2-padding: 0px 75px 0px 75px;
    --tablet-global-hx-margin: 15px 0px 7.5px 0px;
    --tablet-sidebar-top-wrapper-height: 100px;
    --tablet-content-top-header-height: 50px;
    --tablet-sidebar-profile-img-size: 200px;
    --tablet-sidebar-profile-position-margin-left: 100px;
    --tablet-sidebar-profile-position-margin-top: 100px;
    --tablet-sidebar-profile-border: 2.5px;
    --tablet-sidebar-bottom-wrapper-padding: 100px 25px 0px 25px;
    --tablet-content-padding-top: 0px;
    --tablet-content-padding-left-right: 50px;
    --tablet-content-padding-bottom: 0px;
    --tablet-star-size: 30px;
    --tablet-star-background: orange;
    --tablet-star-color: grey;
}

h1 {
    font-size: var(--tablet-h1-font-size);
    padding: var(--tablet-content-header-h1-padding);
}

.content-header h2 {
    padding: var(--tablet-content-header-h2-padding);
}

h2 {
    font-size: var(--tablet-h2-font-size);
    margin: var(--tablet-global-hx-margin);
}

h3 {
    font-size: var(--tablet-h3-font-size);
    margin: var(--tablet-global-hx-margin);
}

h4 {
    font-size: var(--tablet-h4-font-size);
    margin: var(--tablet-global-hx-margin);
}

p {
    font-size: var(--tablet-p-font-size);
}


.sidebar {
    padding: var(--tablet-content-top-header-height) 0px 0px 0px;
}

.sidebar-top-image {
    width: var(--tablet-sidebar-profile-img-size);
    height: var(--tablet-sidebar-profile-img-size);
    border: var(--tablet-sidebar-profile-border) solid #f1f1f1;
    margin-left: var(--tablet-sidebar-profile-position-margin-left);
    margin-top: var(--tablet-sidebar-profile-position-margin-top);
}

.sidebar-bottom-wrapper {
    padding: var(--tablet-sidebar-bottom-wrapper-padding);
}

tr {
    font-size: calc(var(--tablet-content-p) - 20%);
}

.content {
    background-color: rgb(0, 0, 0, 0.05);
}

.content-header {
    height: var(--tablet-content-top-header-height);
    bottom: calc(100% - var(--tablet-sidebar-top-wrapper-height));
}

.content-main {
    padding-top: var(--tablet-content-padding-top);
    padding-left: var(--tablet-content-padding-left-right);
    padding-right: var(--tablet-content-padding-left-right);
    padding-bottom: var(--tablet-content-padding-bottom);
    width: calc(100% - calc(var(--tablet-content-padding-left-right) * 2));
    background-color: var(--content-background);
}

.experience-content>ul {
    font-size: var(--mobile-p);
}

.stars {
    font-size: var(--tablet-star-size);
}

.stars::before {
    background: linear-gradient(90deg, var(--tablet-star-background) var(--percent), var(--tablet-star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-main-skills>h3 {
    line-height: var(--tablet-star-size);
}

.content-main-skills>div {
    line-height: var(--tablet-star-size);
}


.content-certificates-wrapper {
    width: calc(100% - calc(var(--tablet-content-padding-left-right)*2));
    background-color: var(--content-background);
    padding-top: var(--tablet-content-padding-top);
    padding-left: var(--tablet-content-padding-left-right);
    padding-right: var(--tablet-content-padding-left-right);
    padding-bottom: var(--tablet-content-padding-bottom);
}