:root {
    --sidebar-border: 4px;
    --header-size: 200px;
    --mobile-p: 100%;
    --tablet-p: 130%;
    --star-size: 60px;
    --tablet-star-size: 30px;
    --mobile-star-size: 30px;
    --star-color: grey;
    --star-background: orange
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orange; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body {
    margin: 0;
    font-family: Lora, serif;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-weight: bolder;
    font-size: 500%;
    padding-left: 50px;
    padding-top: 50px;
}

.content-header h2 {
    padding-left: 50px;
    margin-top: 20px;
}

h2 {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-size: 175%;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;font-weight: bolder;
}

h3 {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-size: 125%;
    margin-top: 15px;
    margin-bottom: 7.5px;
}

h4 {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-size: 115%;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 100%;
    line-height: 1.47368;
}
  
.sidebar {
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: /*#f1f1f1*/#27292b;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: var(--sidebar-border) solid orange;
    color: white;
}
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
.content {
    margin-left: calc(500px + var(--sidebar-border));
    width: calc(100% - 500px) + var(--sidebar-border);
    background-color: rgb(0, 0, 0, 0.05);
  }

.content-header {
    position: fixed;
    width: 100%;
    height: var(--header-size);
    background-image: linear-gradient(to right, rgb(255, 165, 0) , rgb(255, 255, 0));
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 999;
}

.content-main {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: var(--header-size);
    width: calc(75% - 100px);
    float: left;
}

.sidebar-top-wrapper {
    height: var(--header-size);
    background-image: url("images/potatos-hd.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-bottom-wrapper {
    padding-top: 120px;
    padding-left: 25px;
    padding-right: 25px;
}

.sidebar-top-image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 5px solid #f1f1f1;
    margin-left: 125px;
    margin-top: 30px;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}

.sidebar-bottom-education-content {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255,0.25);
}

.sidebar-bottom-education-content > h3:nth-child(1) {
    
    float: left;
    text-align: left;
    width: 50%;
    padding-bottom: 10px;
}

.sidebar-bottom-education-content > h3:nth-child(2) {
    font-style: italic;
    text-align: right;
    float: right;
    width: 50%;

    padding-bottom: 10px;
}


table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 10px;
}

td:first-child {
    text-align: right;
    border-right: 2px solid white;
}

.experience-wrapper-timeline {
    border-left: 5px solid rgba(0,0,0,0.15);
    margin-left: 10px;
    padding: 20px 20px 10px 20px;
}

.experience {
    margin-bottom: 20px;
    padding: 20px 30px;
    background-color: #f1f1f1;
    border-radius: 6px;
    border: 3px solid #474e5d;
}

.experience-wrapper h3 {
    float: left;
    line-height: 60px;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    margin-left: -42px;
    width: 0;
    z-index: 1;
    border: medium solid #474e5d;
    border-width: 10px 10px 10px 0;
    border-color: transparent #474e5d transparent transparent;
  }

.experience-content h4::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -64px;
    background: orange;
    border-radius: 999px;
    border: 3px solid orange;
}

.experience-content > p:first-of-type {
    font-style: italic;
}

.experience-content > p:nth-child(2) {
    border-bottom: 1px solid rgb(0 0 0 / 16%);
    float: left;
    width: 50%;
    padding-bottom: 10px;
}

.experience-content > p:nth-child(3) {
    border-bottom: 1px solid rgb(0 0 0 / 16%);
    text-align: right;
    float: right;
    width: 50%;
    padding-bottom: 10px;
}

.experience-content > p:nth-child(4) {
    padding-top: 50px;
}

.experience-content > ul {
    font-size: 100%;
    line-height: 1.4;
    padding-top: 10px;
}

.experience-content > ul > li {
    margin-left: 25px;
    list-style-type: disc;
}

.experience-content > ul > ul {
    margin-left: 15px;
}

.experience-content > ul > ul > li {
    margin-left: 30px;
    list-style-type: disc;
}

.content-main-introduction > p {
    padding-bottom: 10px;
}


.content-main-skills > h3 {
    float: left;
    width: 25%;
    text-align: right;
}

.content-main-skills > div {
    float: left;
    width: 75%;
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.stars::before {
      content: '★★★★★';
      letter-spacing: 3px;
      background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.content-main-passion  {

    padding-bottom: 25px;
}

.content-main-passion span:hover {
    font-weight: bolder;
    cursor: pointer;
    text-transform: uppercase;
}
  

.content-certificates-wrapper {
    width: calc(25% - 25px);
    padding-top: var(--header-size);
    background-color: white;
    float: left;
    padding-right: 25px;
}

.content-certificates-wrapper > ul {
  border-left: 1px solid orange;
  padding-left: 10px;
}


.content-certificates-wrapper h3 {
    font-weight: bold;
}

.content-certificates-wrapper h4, .content-certificates-wrapper p {
    padding-left: 10px;
    font-weight: normal;
}

.content-certificates-wrapper p {
    font-style: italic;
    padding-bottom: 25px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(0 0 0 / 16%);
}

/* Tablet friendly */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
    h1 {
        text-align: left;
        font-family: Ubuntu, sans-serif;
        font-weight: bolder;
        font-size: 250%;
        padding-left: 155px;
        padding-right: 25px;
        padding-top: 35px;
    }
    
    .content-header h2 {
        padding-left: 155px;
        padding-right: 200px;
        margin-top: 10px;
        word-wrap: break-word;
    }
    
    h2 {
        text-align: left;
        font-family: Ubuntu, sans-serif;
        font-size: 125%;
        margin-top: 15px;
        margin-bottom: 7.5px;
        text-transform: uppercase;font-weight: bolder;
    }
    
    h3 {
        text-align: left;
        font-family: Ubuntu, sans-serif;
        font-size: 100%;
        margin-top: 15px;
        margin-bottom: 7.5px;
    }
    
    h4 {
        text-align: left;
        font-family: Ubuntu, sans-serif;
        font-size: 90%;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    p {
        font-size: var(--mobile-p);
        line-height: 1.47368;
    }
      

    .sidebar {
        position: relative;
        margin-top: 0;
        padding-top: 150px;
        width: 100%;
        background-color: /*#f1f1f1*/#27292b;
        height: 100%;
        overflow: auto;
        color: white;
        border-right: none;
    }

    .sidebar-top-wrapper {
        height: 250px;
        background-image: url("images/potatos-hd.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        box-shadow: none;
    }

    .sidebar-top-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: 2.5px solid #f1f1f1;
        margin-left: 127.5px;
        margin-top: 150px;
        box-shadow:  0 0 10px  rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    }

    .sidebar-bottom-wrapper {
        padding-top: 125px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .sidebar-bottom-education-content {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255,0.25);
    }
    
    .sidebar-bottom-education-content > h3:nth-child(1) {
        float: left;
        text-align: left;
        width: 70%;
        padding-bottom: 10px;
    }
    
    .sidebar-bottom-education-content > h3:nth-child(2) {
        font-style: italic;
        text-align: right;
        float: right;
        width: 30%;
    
        padding-bottom: 10px;
    }

    .sidebar-bottom-references {
        padding-bottom: 20px;
    }
    
    .sidebar a {
      text-align: center;
      float: none;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }
    
    td {
        padding: 10px;
    }
    
    td:first-child {
        text-align: right;
        border-right: 1px solid white;
    }

    tr {
        font-size: calc(var(--tablet-p) - 20%);
    }

    .content {
        margin-left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.05);
    }
    
    .content-header {
        position: fixed;
        width: 100%;
        height: 150px;
        background-image: linear-gradient(to right, rgb(255, 165, 0) , rgb(255, 255, 0));;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        z-index: 999;
        bottom: calc(100% - 150px);
    }
    
    .content-main {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
        width: calc(100% - 50px);
        float: left;
    }

    .experience {
        margin-bottom: 20px;
        padding: 20px 20px 10px 20px;
        background-color: #f1f1f1;
        border-radius: 6px;
        border: 3px solid #474e5d;
    }
    
    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        margin-left: -32px;
        width: 0;
        z-index: 1;
        border: medium solid #474e5d;
        border-width: 10px 10px 10px 0;
        border-color: transparent #474e5d transparent transparent;
    }

    .experience-content h4::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        margin-left: -54px;
        background: orange;
        border-radius: 999px;
        border: 3px solid orange;
    }


    .experience-content > ul {
        font-size: var(--mobile-p);
        line-height: 1.4;
        padding-top: 10px;
    }
    
    .experience-content > ul > li {
        margin-left: 25px;
        list-style-type: disc;
    }
    
    .experience-content > ul > ul {
        margin-left: 15px;
    }
    
    .experience-content > ul > ul > li {
        margin-left: 30px;
        list-style-type: disc;
    }

    .experience-content > p:first-of-type {
        font-style: italic;
    }
    
    .experience-content > p:nth-child(2) {
        border-bottom: none;
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    
    .experience-content > p:nth-child(3) {
        border-bottom: 1px solid rgb(0 0 0 / 16%);
        text-align: left;
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    
    .experience-content > p:nth-child(4) {
        padding-top: 90px;
    }

    .content-main-passion  {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .content-main-passion span:hover {
        font-weight: bolder;
        cursor: pointer;
        text-transform: uppercase;
    }
      

    .content-main-skills > h3 {
        float: left;
        width: 25%;
        text-align: right;
    }
    
    .content-main-skills > div {
        float: left;
        width: 75%;
    }

    #content-main-skills > h3 {
        float: left;
        width: 60%;
        text-align: left;
    }
    
    #content-main-skills > div {
        float: right;
        width: 40%;
    }

    .stars {
        --percent: calc(var(--rating) / 5 * 100%);
        display: inline-block;
        font-size: var(--mobile-star-size);
        font-family: Times;
        line-height: 1;
    }
    .stars::before {
          content: '★★★★★';
          letter-spacing: 3px;
          background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }
      

    .content-certificates-wrapper {
        width: calc(100% - 50px);
        padding-top: 25px;
        background-color: white;
        float: left;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 10px;
    }
    
    .content-certificates-wrapper > ul {
      border-left: 1px solid orange;
      padding-left: 10px;
    }
    
    
    .content-certificates-wrapper h3 {
        font-weight: bold;
    }
    
    .content-certificates-wrapper h4, .content-certificates-wrapper p {
        padding-left: 10px;
        font-weight: normal;
    }
    
    .content-certificates-wrapper p {
        font-style: italic;
        padding-bottom: 10px;
        padding-right: 20px;
        border-bottom: 1px solid rgb(0 0 0 / 16%);
    }
}

/* Mobile friendly */
@media screen and (max-width: 400px) {
    h1 {
        text-align: left;
        font-family: Ubuntu, sans-serif;
        font-weight: bolder;
        font-size: 150%;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
    }
    
    .content-header h2 {
        padding-left: 25px;
        padding-right: 50px;
        margin-top: 10px;
        word-wrap: break-word;
    }
    
    h2 {
        text-align: left;
        font-family: Ubuntu, sans-serif;
        font-size: 125%;
        margin-top: 15px;
        margin-bottom: 7.5px;
        text-transform: uppercase;font-weight: bolder;
    }
    
    h3 {
        text-align: left;
        font-family: Ubuntu, sans-serif;
        font-size: 100%;
        margin-top: 15px;
        margin-bottom: 7.5px;
    }
    
    h4 {
        text-align: left;
        font-family: Ubuntu, sans-serif;
        font-size: 90%;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    p {
        font-size: var(--mobile-p);
        line-height: 1.47368;
    }
      

    .sidebar {
        position: relative;
        margin-top: 0;
        padding-top: 150px;
        width: 100%;
        background-color: /*#f1f1f1*/#27292b;
        height: 100%;
        overflow: auto;
        color: white;
        border-right: none;
    }

    .sidebar-top-wrapper {
        height: 100px;
        background-image: url("images/potatos-hd.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        box-shadow: none;
    }

    .sidebar-top-image {
        border-radius: 50%;
        width: 125px;
        height: 125px;
        border: 2.5px solid #f1f1f1;
        margin-left: 120px;
        margin-top: 30px;
        box-shadow:  0 0 10px  rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
        -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    }

    .sidebar-bottom-wrapper {
        padding-top: 70px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .sidebar-bottom-education-content {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255,0.25);
    }
    
    .sidebar-bottom-education-content > h3:nth-child(1) {
        float: left;
        text-align: left;
        width: 70%;
        padding-bottom: 10px;
    }
    
    .sidebar-bottom-education-content > h3:nth-child(2) {
        font-style: italic;
        text-align: right;
        float: right;
        width: 30%;
    
        padding-bottom: 10px;
    }

    .sidebar-bottom-references {
        padding-bottom: 20px;
    }
    
    .sidebar a {
      text-align: center;
      float: none;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }
    
    td {
        padding: 10px;
    }
    
    td:first-child {
        text-align: right;
        border-right: 1px solid white;
    }

    tr {
        font-size: calc(var(--mobile-p) - 20%);
    }

    .content {
        margin-left: 0;
        width: 100%;
        background-color: rgb(0, 0, 0, 0.05);
    }
    
    .content-header {
        position: fixed;
        width: 100%;
        height: 150px;
        background-image: linear-gradient(to right, rgb(255, 165, 0) , rgb(255, 255, 0));;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        z-index: 999;
        bottom: calc(100% - 150px);
    }
    
    .content-main {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 25px;
        width: calc(100% - 50px);
        float: left;
    }

    .experience {
        margin-bottom: 20px;
        padding: 20px 20px 10px 20px;
        background-color: #f1f1f1;
        border-radius: 6px;
        border: 3px solid #474e5d;
    }
    
    /* Add arrows to the left container (pointing right) */
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        margin-left: -32px;
        width: 0;
        z-index: 1;
        border: medium solid #474e5d;
        border-width: 10px 10px 10px 0;
        border-color: transparent #474e5d transparent transparent;
    }

    .experience-content h4::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        margin-left: -54px;
        background: orange;
        border-radius: 999px;
        border: 3px solid orange;
    }


    .experience-content > ul {
        font-size: var(--mobile-p);
        line-height: 1.4;
        padding-top: 10px;
    }
    
    .experience-content > ul > li {
        margin-left: 25px;
        list-style-type: disc;
    }
    
    .experience-content > ul > ul {
        margin-left: 15px;
    }
    
    .experience-content > ul > ul > li {
        margin-left: 30px;
        list-style-type: disc;
    }

    .experience-content > p:first-of-type {
        font-style: italic;
    }
    
    .experience-content > p:nth-child(2) {
        border-bottom: none;
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    
    .experience-content > p:nth-child(3) {
        border-bottom: 1px solid rgb(0 0 0 / 16%);
        text-align: left;
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    
    .experience-content > p:nth-child(4) {
        padding-top: 90px;
    }

    #content-main-skills {
        width: 100%;
        float: left;
        padding-bottom: 25px;
    }

    #content-main-skills > h3 {
        float: left;
        width: 60%;
        text-align: left;
    }
    
    #content-main-skills > div {
        float: right;
        width: 40%;
    }

    .stars {
        --percent: calc(var(--rating) / 5 * 100%);
        display: inline-block;
        font-size: var(--mobile-star-size);
        font-family: Times;
        line-height: 1;
    }
    .stars::before {
          content: '★★★★★';
          letter-spacing: 3px;
          background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }

    .content-main-passion  {
        padding-top: 250px;
        padding-bottom: 25px;
    }
    
    .content-main-passion span:hover {
        font-weight: bolder;
        cursor: pointer;
        text-transform: uppercase;
    }
      
      

    .content-certificates-wrapper {
        width: calc(100% - 50px);
        padding-top: 25px;
        background-color: white;
        float: left;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 10px;
    }
    
    .content-certificates-wrapper > ul {
      border-left: 1px solid orange;
      padding-left: 10px;
    }
    
    
    .content-certificates-wrapper h3 {
        font-weight: bold;
    }
    
    .content-certificates-wrapper h4, .content-certificates-wrapper p {
        padding-left: 10px;
        font-weight: normal;
    }
    
    .content-certificates-wrapper p {
        font-style: italic;
        padding-bottom: 10px;
        padding-right: 20px;
        border-bottom: 1px solid rgb(0 0 0 / 16%);
    }
    .stars {
        --percent: calc(var(--rating) / 5 * 100%);
        display: inline-block;
        font-size: var(--mobile-star-size);
        font-family: Times;
        line-height: 1;
    }
    .stars::before {
          content: '★★★★★';
          letter-spacing: 3px;
          background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    }
}