:root {
    --h1-font-size: 4em;
    --h2-font-size: 1.5em;
    --h3-font-size: 1.35em;
    --h4-font-size: 1.1em;
    --p-font-size: 1em;
    --content-p: 1em;
    --content-header-h1-padding: 50px 100px 0px 50px;
    --content-header-h2-padding: 15px 100px 0px 50px;

    --global-hx-margin: 10px 0px 15px 0px;

    /* Sidebar */
    --sidebar-position: fixed;
    --sidebar-padding-top: 0px;
    --sidebar-border: 4px;
    --sidebar-width: 500px;
    --sidebar-margin-left: var(--sidebar-width);
    --sidebar-width-calc: 100%;
    --sidebar-top-wrapper-height: 0px;
    --sidebar-profile-img-size: 250px;
    --sidebar-profile-position-margin-left: 125px;
    --sidebar-profile-position-margin-top: 10px;
    --sidebar-profile-border: 5px;
    --sidebar-bottom-wrapper-padding: 120px 25px 0px 25px;

    /* Content Global */
    --content-background: white;
    --content-width: 75%;
    --content-padding-left-right: 50px;
    --content-padding-bottom: 0px;
    --content-main-experience-wrapper-header-height: 100px;

    /* Content Header .content-header */
    --content-top-header-height: 200px;

    /* Content Experience */
    --content-logo-roc-width: 210px;
    --content-logo-roc-height: 90px;
    --content-logo-waterstons-width: 100px;
    --content-logo-waterstons-height: 100px;

    /* Content Links */
    --content-links-padding: 15px;
    --content-padding-top: calc(var(--content-top-header-height) + 25px);
    --content-links-display: inline;

    /* Content Certificate */
    --content-certificate-width: 25%;

    /* Content Skills */
    --content-main-skills-h3-width: 25%;
    --content-main-skills-div-width: 75%;
    --star-size: 60px;
    --star-color: grey;
    --star-background: orange;
}





/**Scrollbar**/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: orange;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}





/**Global**/
body {
    margin: 0;
    font-family: Lora, serif;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-weight: bolder;
    font-size: var(--h1-font-size);
    padding: var(--content-header-h1-padding);
    word-break: break-word;
}

.content-header h2 {
    padding: var(--content-header-h2-padding);
    margin-top: 20px;
    word-break: break-word;
    word-wrap: break-word;
}

h2 {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-size: var(--h2-font-size);
    margin: var(--global-hx-margin);
    text-transform: uppercase;
    font-weight: bolder;
    word-break: break-word;
}

h3 {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-size: var(--h3-font-size);
    margin: var(--global-hx-margin);
    font-weight: bolder;
}

h4 {
    text-align: left;
    font-family: Ubuntu, sans-serif;
    font-size: var(--h4-font-size);
    font-weight: bold;
    margin: var(--global-hx-margin);
}

p {
    font-size: var(--p-font-size);
    line-height: 1.47368;
}





/** SIDEBAR **/
table {
    margin-left: auto;
    margin-right: auto;
}

tr {
    font-size: calc(var(--content-p) - 20%);
}

td {
    padding: 10px;
}

td:first-child {
    text-align: right;
    border-right: 2px solid white;
}

.sidebar {
    margin: 0;
    width: var(--sidebar-width);
    background-color: #27292b;
    padding-top: var(--sidebar-padding-top);
    position: var(--sidebar-position);
    height: 100%;
    overflow: auto;
    border-right: var(--sidebar-border) solid orange;
    color: white;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.sidebar-top-wrapper {
    height: var(--content-top-header-height);
    background-image: url("images/potatos-hd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-top-image {
    width: var(--sidebar-profile-img-size);
    height: var(--sidebar-profile-img-size);
    
    margin-left: var(--sidebar-profile-position-margin-left);
    margin-top: var(--sidebar-profile-position-margin-top);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.sidebar-bottom-wrapper {
    padding: var(--sidebar-bottom-wrapper-padding);
}

.sidebar-bottom-education-content {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.sidebar-bottom-education-content>h4:nth-child(1) {
    float: left;
    text-align: left;
    width: 50%;
    padding-bottom: 10px;
}

.sidebar-bottom-education-content>h4:nth-child(2) {
    font-style: italic;
    text-align: right;
    float: right;
    width: 50%;
    padding-bottom: 10px;
}


/**Content Page Wrapper**/
.content {
    margin-left: calc(var(--sidebar-margin-left));
    overflow: hidden;
    width: calc(var(--content-width) - var(--sidebar-width)) + var(--sidebar-border);
}





/**My name header**/
.content-header {
    bottom: calc(100% - var(--sidebar-top-wrapper-height));
    position: fixed;
    width: calc(var(--sidebar-width-calc));
    height: var(--content-top-header-height);
    background-image: linear-gradient(to right, rgb(255, 165, 0), rgb(255, 255, 0));
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 999;
    top: 0;
}


/**Links to my websites**/
.content-links {
    background-color: #e7e7e7;
    padding: calc(var(--content-padding-top) - var(--content-links-padding)) var(--content-padding-left-right) calc(var(--content-padding-bottom) + var(--content-links-padding)) var(--content-padding-left-right);
    border-bottom: 1px solid rgba(255, 165, 0, 16%);
    margin: auto;
}
.content-links img {
    position: relative;
    top: 2.5px;
    width: 20px;
    height: 20px;
}

.content-links a:first-of-type {
    color: red !important;
    font-weight: bolder;
    background-color: rgba(255, 0, 0, 0.116);
}

.content-links a:first-of-type:hover {
    color: orange !important;
    background-color: black;
}

.content-links a:not(:first-of-type) {
    padding-left: 25px;
}

.content-links a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

.content-links a:hover {
    color: var(--star-background);
}

.content-links span {
    display: var(--content-links-display);
}


/**Main Content Wrapper**/
.content-main {
    padding-top: var(--content-links-padding);
    padding-left: var(--content-padding-left-right);
    padding-right: var(--content-padding-left-right);
    padding-bottom: var(--content-padding-bottom);
    width: calc(var(--content-width) - calc(var(--content-padding-left-right) * 2));
    background-color: var(--content-background);
    float: left;
}

.content-main>div {
    padding-bottom: 25px;
}





/**Who am I?**/
.content-main-introduction {
    height: auto;
}




/**Experience**/
.content-main-experience {
    height: auto;
}

.content-main-experience-wrapper-header {
    height: var(--content-main-experience-wrapper-header-height);
}

.content-main-experience-wrapper-header img {
    float: right;
}

.content-main-experience-wrapper-header h3 {
    float: left;
    line-height: 60px;
}

.logo-roc {
    width: var(--content-logo-roc-width);
    height: var(--content-logo-roc-height);
}

.logo-waterstons {
    width: var(--content-logo-waterstons-width);
    height: var(--content-logo-waterstons-height);
}

.content-main-experience-wrapper-timeline {
    border-left: 5px solid rgba(0, 0, 0, 0.15);
    margin-left: 10px;
    padding: 20px 20px 10px 20px;
}

.content-main-experience-wrapper-timeline-wrapper {
    margin-bottom: 20px;
    padding: 20px 30px;
    background-color: #f1f1f1;
    border-radius: 6px;
    border: 3px solid #474e5d;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    margin-left: -42px;
    width: 0;
    z-index: 1;
    border: medium solid #474e5d;
    border-width: 10px 10px 10px 0;
    border-color: transparent #474e5d transparent transparent;
}

.content-main-experience-content h4 {
    margin: 0;
}

.content-main-experience-content h4::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -64px;
    background: orange;
    border-radius: 999px;
    border: 3px solid orange;
}

.content-main-experience-content>p:first-of-type {
    font-style: italic;
}

.content-main-experience-content>p:nth-child(2) {
    border-bottom: 1px solid rgb(0 0 0 / 16%);
    float: left;
    width: 50%;
    padding-bottom: 10px;
}

.content-main-experience-content>p:nth-child(3) {
    border-bottom: 1px solid rgb(0 0 0 / 16%);
    text-align: right;
    float: right;
    width: 50%;
    padding-bottom: 10px;
}

.content-main-experience-content>p:nth-child(4) {
    padding-top: 50px;
}

.content-main-experience-content>ul {
    font-size: var(--p-font-size);
    line-height: 1.4;
    padding-top: 10px;
}

.content-main-experience-content>ul>li {
    margin-left: 25px;
    list-style-type: disc;
}

.content-main-experience-content>ul>ul {
    margin-left: 15px;
}

.content-main-experience-content>ul>ul>li {
    margin-left: 30px;
    list-style-type: disc;
}

.content-main-experience-content>p:first-of-type {
    font-style: italic;
}

.content-main-experience-content>p:nth-child(2) {
    border-bottom: none;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.content-main-experience-content>p:nth-child(3) {
    border-bottom: 1px solid rgb(0 0 0 / 16%);
    text-align: left;
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.content-main-experience-content>p:nth-child(4) {
    padding-top: 90px;
}





/**Skills**/
.content-main-skills {
    width: 100%;
    float: left;
}

.content-main-skills>h3 {
    float: left;
    width: 100%;
    text-align: left;
}

.content-main-skills>h4 {
    text-align: left;
    width: 25%;
    float: left;
}

.content-main-skills>div {
    width: 25%;
    float: left;
}

.content-main-skills>h3 {
    float: right;
    width: 100%;
    text-align: left;
}

.content-main-skills>h4 {
    line-height: var(--star-size);
    float: left;
    width: var(--content-main-skills-h3-width);
    text-align: right;
    margin: 0;
}

.content-main-skills>div {
    line-height: var(--star-size);
    float: left;
    width: var(--content-main-skills-div-width)
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






/**My passion**/
.content-main-passion span:hover {
    font-weight: bolder;
    cursor: pointer;
    text-transform: uppercase;
}






/**Vendor certificates**/
.content-certificates-wrapper {
    width: calc(var(--content-certificate-width) - calc(var(--content-padding-left-right)*2));
    background-color: var(--content-background);
    padding-left: var(--content-padding-left-right);
    padding-right: var(--content-padding-left-right);
    padding-bottom: var(--content-padding-bottom);
    padding-top: var(--content-links-padding);
    background-color: var(--content-background);
    float: left;
}

.content-certificates-wrapper>ul {
    border-left: 1px solid orange;
    padding-left: 10px;
}


.content-certificates-wrapper h3 {
    font-weight: bold;
}

.content-certificates-wrapper h4,
.content-certificates-wrapper p {
    padding-left: 10px;
    font-weight: normal;
}

.content-certificates-wrapper p:last-child {
    font-style: italic;
    padding-bottom: 15px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(0 0 0 / 16%);
}




/* Desktop friendly */
/*3840-5119 - 4k*/
@media (min-device-width: 3840px) and (max-device-width: 5119px) {
    :root {
        --h1-font-size: 1000%;
        --h2-font-size: 600%;
        --h3-font-size: 415%;
        --h4-font-size: 275%;
        --p-font-size: 400%;
        --content-p: 350%;
        --content-header-h1-padding: 300px 400px 0px 100px;
        --content-header-h2-padding: 100px 700px 0px 100px;

        --global-hx-margin: 30px 0px 15px 0px;

        --sidebar-position: fixed;
        --sidebar-padding-top: 0px;
        --sidebar-border: 20px;
        --sidebar-width: 1250px;
        --sidebar-margin-left: var(--sidebar-width);
        --sidebar-width-calc: 100%;
        --sidebar-top-wrapper-height: 0px;
        --sidebar-profile-img-size: 700px;
        --sidebar-profile-position-margin-left: 250px;
        --sidebar-profile-position-margin-top: 150px;
        --sidebar-profile-border: 25px;
        --sidebar-bottom-wrapper-padding: 100px 50px 0px 50px;

        --content-width: 65%;
        --content-top-header-height: 1000px;
        --content-padding-top: 1075px;
        --content-padding-left-right: 50px;
        --content-padding-bottom: 0px;
        --content-certificate-width: 35%;
        --content-main-skills-h3-width: 25%;
        --content-main-skills-div-width: 75%;


        --star-size: 200px;
        --star-color: grey;
        --star-background: orange;
        --content-background: white;
    }
}

/* Desktop friendly */
/* 2560-3839 - 2k*/
@media (min-device-width: 2560px) and (max-device-width: 3839px) {
    :root {
        --h1-font-size: 400%;
        --h2-font-size: 235%;
        --h3-font-size: 215%;
        --h4-font-size: 175%;
        --p-font-size: 200%;
        --content-p: 190%;
        --content-header-h1-padding: 90px 100px 0px 50px;
        --content-header-h2-padding: 0px 100px 0px 50px;

        --global-hx-margin: 30px 0px 15px 0px;

        --sidebar-position: fixed;
        --sidebar-padding-top: 0px;
        --sidebar-border: 4px;
        --sidebar-width: 750px;
        --sidebar-margin-left: var(--sidebar-width);
        --sidebar-width-calc: 100%;
        --sidebar-top-wrapper-height: 0px;
        --sidebar-profile-img-size: 350px;
        --sidebar-profile-position-margin-left: 200px;
        --sidebar-profile-position-margin-top: 30px;
        --sidebar-profile-border: 10px;
        --sidebar-bottom-wrapper-padding: 120px 25px 0px 25px;

        --content-width: 75%;
        --content-top-header-height: 300px;
        --content-padding-top: 300px;
        --content-padding-left-right: 50px;
        --content-padding-bottom: 0px;
        --content-certificate-width: 25%;
        --content-main-skills-h3-width: 25%;
        --content-main-skills-div-width: 75%;


        --star-size: 60px;
        --star-color: grey;
        --star-background: orange;
        --content-background: white;
    }
}







/* Tablet friendly */
/* 800-1023 */
@media (min-device-width: 800px) and (max-device-width: 1023px) {
:root {
        --h1-font-size: 1.9em;
        --h2-font-size: 1.5em;
        --h3-font-size: 1.25em;
        --h4-font-size: 1.1em;
        --p-font-size: 1em;
        --content-p: 1em;
        --content-header-h1-padding: 25px 50px 0px 25px;
        --content-header-h2-padding: 0px 50px 0px 25px;

        --global-hx-margin: 15px 0px 5px 0px;

        /* Sidebar */
        --sidebar-position: relative;
        --sidebar-padding-top: 150px;
        --sidebar-border: none;
        --sidebar-width: 100%;
        --sidebar-margin-left: 0;
        --sidebar-width-calc: 100%;
        --sidebar-top-wrapper-height: 150px;
        --sidebar-profile-img-size: 125px;
        --sidebar-profile-position-margin-left: 30px;
        --sidebar-profile-position-margin-top: 80px;
        --sidebar-profile-border: 2.5px;
        --sidebar-bottom-wrapper-padding: 75px 25px 15px 25px;

        /* Content Global */
        --content-background: white;
        --content-width: 100%;
        --content-padding-left-right: 50px;
        --content-padding-bottom: 25px;
        --content-main-experience-wrapper-header-height: 100px;

        /* Content Header .content-header */
        --content-top-header-height: 150px;

        /* Content Experience */
        --content-logo-roc-width: 100px;
        --content-logo-roc-height: 40px;
        --content-logo-waterstons-width: 100px;
        --content-logo-waterstons-height: 100px;

        /* Content Links */
        --content-links-padding: 0px;
        --content-padding-top: 25px;
        --content-links-display: none;

        /* Content Certificate */
        --content-certificate-width: 100%;

        /* Content Skills */
        --content-main-skills-h3-width: 40%;
        --content-main-skills-div-width: 60%;
        --star-size: 60px;
        --star-color: grey;
        --star-background: orange;
    }
}

/* Tablet friendly */
/* 1024-1279 */
@media (min-device-width: 1024px) and (max-device-width: 1279px) {
    :root {
        --h1-font-size: 225%;
        --h2-font-size: 125%;
        --h3-font-size: 100%;
        --h4-font-size: 100%;
        --p-font-size: 100%;
        --content-p: 130%;
        --content-header-h1-padding: 50px 100px 0px 50px;
        --content-header-h2-padding: 0px 100px 0px 50px;

        --global-hx-margin: 30px 0px 15px 0px;

        --sidebar-position: relative;
        --sidebar-padding-top: 150px;
        --sidebar-border: none;
        --sidebar-width: 100%;
        --sidebar-margin-left: 0;
        --sidebar-width-calc: 100%;
        --sidebar-top-wrapper-height: 150px;
        --sidebar-profile-img-size: 250px;
        --sidebar-profile-position-margin-left: 30px;
        --sidebar-profile-position-margin-top: 30px;
        --sidebar-profile-border: 5px;
        --sidebar-bottom-wrapper-padding: 120px 25px 25px 25px;

        --content-width: 100%;
        --content-top-header-height: 150px;
        --content-padding-top: 0px;
        --content-padding-left-right: 50px;
        --content-padding-bottom: 0px;
        --content-certificate-width: 25%;

        --star-size: 60px;
        --star-color: grey;
        --star-background: orange;
        --content-background: white;
    }


    :root {
        --h1-font-size: 1.9em;
        --h2-font-size: 1.5em;
        --h3-font-size: 1.25em;
        --h4-font-size: 1.1em;
        --p-font-size: 1em;
        --content-p: 1em;
        --content-header-h1-padding: 25px 50px 0px 25px;
        --content-header-h2-padding: 0px 50px 0px 25px;

        --global-hx-margin: 15px 0px 5px 0px;

        /* Sidebar */
        --sidebar-position: relative;
        --sidebar-padding-top: 150px;
        --sidebar-border: none;
        --sidebar-width: 100%;
        --sidebar-margin-left: 0;
        --sidebar-width-calc: 100%;
        --sidebar-top-wrapper-height: 150px;
        --sidebar-profile-img-size: 125px;
        --sidebar-profile-position-margin-left: 30px;
        --sidebar-profile-position-margin-top: 80px;
        --sidebar-profile-border: 2.5px;
        --sidebar-bottom-wrapper-padding: 75px 25px 15px 25px;

        /* Content Global */
        --content-background: white;
        --content-width: 100%;
        --content-padding-left-right: 50px;
        --content-padding-bottom: 25px;
        --content-main-experience-wrapper-header-height: 100px;

        /* Content Header .content-header */
        --content-top-header-height: 150px;

        /* Content Experience */
        --content-logo-roc-width: 100px;
        --content-logo-roc-height: 40px;
        --content-logo-waterstons-width: 100px;
        --content-logo-waterstons-height: 100px;

        /* Content Links */
        --content-links-padding: 0px;
        --content-padding-top: 25px;
        --content-links-display: inline;

        /* Content Certificate */
        --content-certificate-width: 100%;

        /* Content Skills */
        --content-main-skills-h3-width: 40%;
        --content-main-skills-div-width: 60%;
        --star-size: 60px;
        --star-color: grey;
        --star-background: orange;
    }
}






/* mobile friendly */
/* 400-799 */
@media screen and (min-width: 400px) and (max-width: 799px) {
    :root {
        --h1-font-size: 1.9em;
        --h2-font-size: 1.1em;
        --h3-font-size: 1.25em;
        --h4-font-size: 1.1em;
        --p-font-size: 1em;
        --content-p: 1em;
        --content-header-h1-padding: 25px 50px 0px 25px;
        --content-header-h2-padding: 0px 50px 0px 25px;

        --global-hx-margin: 15px 0px 5px 0px;

        /* Sidebar */
        --sidebar-position: relative;
        --sidebar-padding-top: 150px;
        --sidebar-border: none;
        --sidebar-width: 100%;
        --sidebar-margin-left: 0;
        --sidebar-width-calc: 100%;
        --sidebar-top-wrapper-height: 150px;
        --sidebar-profile-img-size: 125px;
        --sidebar-profile-position-margin-left: 30px;
        --sidebar-profile-position-margin-top: 80px;
        --sidebar-profile-border: 2.5px;
        --sidebar-bottom-wrapper-padding: 75px 25px 15px 25px;

        /* Content Global */
        --content-background: white;
        --content-width: 100%;
        --content-padding-left-right: 15px;
        --content-padding-bottom: 0px;
        --content-main-experience-wrapper-header-height: 100px;

        /* Content Header .content-header */
        --content-top-header-height: 150px;

        /* Content Experience */
        --content-logo-roc-width: 100px;
        --content-logo-roc-height: 40px;
        --content-logo-waterstons-width: 100px;
        --content-logo-waterstons-height: 100px;

        /* Content Links */
        --content-links-padding: 15px;
        --content-padding-top: 25px;
        --content-links-display: none;

        /* Content Certificate */
        --content-certificate-width: 100%;

        /* Content Skills */
        --content-main-skills-h3-width: 50%;
        --content-main-skills-div-width: 50%;
        --star-size: 30px;
        --star-color: grey;
        --star-background: orange;
    }
}

/* mobile friendly */
/* 0-399 */
@media screen and (min-width: 0px) and (max-width: 399px) {
    :root {
        --h1-font-size: 1.1em;
        --h2-font-size: 0.6em;
        --h3-font-size: 0.9em;
        --h4-font-size: 0.8em;
        --p-font-size: 0.75em;
        --content-p: 0.75em;
        --content-header-h1-padding: 25px 50px 0px 25px;
        --content-header-h2-padding: 0px 50px 0px 25px;

        --global-hx-margin: 15px 0px 5px 0px;

        /* Sidebar */
        --sidebar-position: relative;
        --sidebar-padding-top: 150px;
        --sidebar-border: none;
        --sidebar-width: 100%;
        --sidebar-margin-left: 0;
        --sidebar-width-calc: 100%;
        --sidebar-top-wrapper-height: 150px;
        --sidebar-profile-img-size: 125px;
        --sidebar-profile-position-margin-left: 30px;
        --sidebar-profile-position-margin-top: 80px;
        --sidebar-profile-border: 2.5px;
        --sidebar-bottom-wrapper-padding: 75px 25px 15px 25px;

        /* Content Global */
        --content-background: white;
        --content-width: 100%;
        --content-padding-left-right: 15px;
        --content-padding-bottom: 0px;
        --content-main-experience-wrapper-header-height: 100px;

        /* Content Header .content-header */
        --content-top-header-height: 150px;

        /* Content Experience */
        --content-logo-roc-width: 50px;
        --content-logo-roc-height: 20px;
        --content-logo-waterstons-width: 40px;
        --content-logo-waterstons-height: 40px;

        /* Content Links */
        --content-links-padding: 15px;
        --content-padding-top: 25px;
        --content-links-display: none;

        /* Content Certificate */
        --content-certificate-width: 100%;

        /* Content Skills */
        --content-main-skills-h3-width: 50%;
        --content-main-skills-div-width: 50%;
        --star-size: 30px;
        --star-color: grey;
        --star-background: orange;
    }
}